<?xml version="1.0" encoding="UTF-8"?>

 <web-app version="4.0" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee">


    <welcome-file-list>
        <welcome-file>/WEB-INF/views/index.jsp</welcome-file>
    </welcome-file-list>

    <!--配置spring的核心拦截器，拦截web项目的中的所有请求-->
    <servlet>
        <servlet-name>springMVC</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/springmvc.xml</param-value>
        </init-param>
    </servlet>

    <!--servlet映射-->
    <servlet-mapping>
        <servlet-name>springMVC</servlet-name>

        <!--
            /:      会匹配到/login这样的路径型url，不会匹配到模式为*.jsp这样的后缀型url
            /*:     会匹配所有url：路径型的和后缀型的url(包括/login,*.jsp,*.js和*.html等)
        -->
        <url-pattern>/</url-pattern>

    </servlet-mapping>

</web-app>